.bg-img {
    /* Используемое изображение */
    background-image: url("/img/1.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
  }
  
.header {
    display:flex;
    justify-content: space-between;
    padding: 20px 0;
}
.header__column {
    display: flex;
    align-items: center;
}

.logo__pic {
    width: 80px;
}

.navigation__list {
    display: flex;
    padding-left: 26%;
}

.navigation__item {
    margin-right: 54px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
}

.navigation__link {
    text-decoration: none;
    color: #FFFFFF;
}

.contacts {
    font-style: normal;
    color: #FFFFFF;
    text-align: right;
}

.phone {
    font-weight: 400;
    font-size: 26px;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
}

.contacts__worktime--title {
    display: block;
    position: relative;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    opacity: 1;
}

.contacts__worktime:hover .contacts__worktime--list {
    display: block
}

.contacts__worktime--list {
    background-color: #CDD1D2;
    border-radius: 4px;
    flex-direction: column;
    padding: 15px 20px;
    display: none;
    position: absolute;
    right: 10%;
    transition: .7s;
}

.contacts__worktime--list:after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 10px;
    border: 10px solid transparent;
    border-bottom: 20px solid #CDD1D2;
}

.contacts__worktime--item {
    color: black;
    font-size: 13;
    font-weight: 400;
    list-style: none;
    text-align: left;
}