// colors

$red: #F5170E;
$red_hover: #DA0100;
$darkgrey: #2B2B2B;
$grey: #8E8E8E;
$lightgrey: #F4F5F5;
$white: #FFFFFF;
$background: #001821;
$shortdesc: #666666;

// normalize

@import "../css/_misc/normalize.scss";

// blocks

@import "../css/_misc/layout.scss";
@import "../css/_misc/fonts.scss";
@import "../css/blocks/header.scss";
@import "../css/blocks/nav.scss";
@import "../css/blocks/promo.scss";
@import "../css/blocks/tours.scss";