.about {

    margin-top: 145px;
    display: flex;

    &__image {
        position: relative;
        
        &--photo {
            object-fit: cover;
        }

        &--bottom {
            top: -400px;
            left: 357px;
            z-index: 1;
        }
    }

}