.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin-right: 54px;
    list-style: none;

    a {
        color: $white;
        text-decoration: none;
    }
        :hover {
            color: $red_hover;
            transition: 0.5s;
        }
}