.news {

    margin-top: 30px;

    &__blocks {
        margin-top: 50px;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 557px;
        border-radius: 5px;
        height: auto;

        &--first {
            background-image: url(/img/plain.png);
            background-size: cover;
        }

        &--second {
            background-image: url(/img/Surfer.png);
            background-size: cover;
        }

        &--desc {
            padding: 252px 30px 45px;
            color: $white;

            &--title, &--shortdesc {
                margin-top: 10px;
            }
        }
    }

    &__pagination {
        margin-top: 56px;
        display: flex;
        justify-content: center;
        color: $white;

        &--list {
            margin-left: 36px;
        }

        &--item {
            color: $white;
            text-decoration: none;
            margin-right: 26px;
            transition: background-color .3s;
            padding: 8px 16px;
            border-radius: 50px;
            border-color: transparent;

            &:hover {
                background-color: $white;
                color: $darkgrey;
                padding: 9px 16px;
                border-color: $white;
            }
        }
    }
}