.tours {

    height: auto;

    &__title {
        display: flex;
        align-items: center;
    }

    &__blocks {
        margin-top: 50px;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }


    &__item{
        background-color: $white;
        border-radius: 5px;
        width: 362px;

        &--block {
            padding: 0px 24px 26px;
        }

        &--img {
            max-height: 144px;
            width: auto;
        }

        &--title {
            margin-top: 33px;
        }

        &--shortdesc {
            margin-top: 21px;
            display: flex;
            color: $shortdesc;
        }

        &--date {
            display: flex;
            align-items: center;
            margin-right: 20px;
        }

        &--food {
            display: flex;
            align-items: center;
        }

        &--desc {
            margin-top: 24px;
            font-size: 14px;
            line-height: 21px;
        }

        &--icon {
            margin-right: 10px;
        }

        &--button {
            margin-top: 24px;
            padding: 18px 30px;
            
            &:hover {
               background-color: $white;
               border: 1px solid $red;
               color: $red;
            }
        }
    }
    
    
}

.title__icon {
    margin-left: 12px;
    max-height: 28px;
}



