body {
    height: 100%;
    background-color: $background;
    font-family: 'Open Sans', serif;
}

.container {
    width: 1142px;
    margin: 0 auto;
}

.section {
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// font and tag styles

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: 700;
}

p,
a,
span {
    margin: 0;
    font-weight: 400;
}

ul {
    padding: 0;
    margin: 0;
}

.title {
    font-size: 72px;
    color: $white;
    line-height: 98px
}

.title__middle {
    color: $white;
    font-size: 36px;
    line-height: 49px;
}


.button {
    background-color: $red;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 18px 40px;
    border-radius: 50px;
    width: fit-content;
    border: 1px solid transparent;

    &:hover {
        background-color: $red_hover;
        transition: 0.3s;
    }
}